.container__inner-page-hero {
  padding-bottom: 170px;
}

.icon-back-decoration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  background-color: rgba(47, 85, 212, 0.1) !important;
  border-radius: 50%;
}

.client-testi {
  user-select: none;
}